<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  <appSettings>
    <!--DEV SETTINGS-->
    <!-- <add key="ProjectName" value="CRM" />
    <add key="Browser" value="Chrome" />
    <add key="BaseUrl" value="http://dlsww-dev.rrd.com/" />

    <add key="IdentityServerBaseUrl" value="http://sso-dev.dls.rrd.com/" />
    <add key="IdentityAPIClientId" value="dlscrmapiclient" />
    <add key="IdentityAPIClientSecret" value="6B9DD962B4AA" />-->
    <!--DEV SETTINGS-->
    <!--QA SETTINGS-->
    <add key="ProjectName" value="CRM" />
    <add key="Browser" value="Chrome" />
    <add key="BaseUrl" value="http://dlsww-test.rrd.com/" />
    <add key="IdentityServerBaseUrl" value="https://sso-test.dls.rrd.com/" />
    <add key="IdentityAPIClientId" value="dlscrmapiclient" />
    <add key="IdentityAPIClientSecret" value="6B9DD962B4AA" />
    <add key="StorePath" value="C:\\CRMTestResults\\Results" />
    <add key="ScreenShotPath" value="C:\\CRMTestResults\\ScreenShot" />
    <add key="SourcePath" value="C:\\CRMTestResults" />
    <!--UserInfo-->       
    <add key="username-shipentry" value="shipentry" />
    <add key="password-shipentry" value="Te$t1234" />
    <add key="username-SalesBoth" value="salesboth@test.com" />
    <add key="password-SalesBoth" value="Te$t1234" />
    <add key="username-crmOperation" value="crmOperation" />
    <add key="password-crmOperation" value="Te$t1234" />
    <add key="username-OperationsCrm" value="OperationsCrm" />
    <add key="password-OperationsCrm" value="Te$t1234" />
    <add key="username-prakashshpentynomg" value="prakashshpentynomg" />
    <add key="password-prakashshpentynomg" value="Te$t1234" />
    <add key="username-Both" value="Both" />
    <add key="password-Both" value="Te$t1234" />  
    <add key="username-zzzcsaStage" value="zzzcsa@stage.com" />
    <add key="password-zzzcsaStage" value="Te$t1234" />
    <add key="username-DefaultShipOrigi" value="DefaultShipOrigin@crm.com" />
    <add key="password-DefaultShipOrigi" value="Te$t1234" />
    <add key="username-Entyrnorates" value="Entyrnorates@test.com" />
    <add key="password-Entyrnorates" value="Te$t1234" />
    <add key="username-EntrynoratesCrmdelta" value="crm-deltaentrynorates@test.com" />
    <add key="password-EntrynoratesCrmdelta" value="Te$t1234" />
    <add key="username-salesdelta" value="salesdelta@test.com" />
    <add key="password-salesdelta" value="Te$t1234" />      
    <add key="username-natext" value="nat@extuser.com" />
    <add key="password-natext" value="Te$t1234" />
    <add key="username-OpStage" value="Opstage" />
    <add key="password-OpStage" value="Te$t1234" />
    <add key="username-SystemAdmin" value="systemadmin" />
    <add key="password-SystemAdmin" value="Te$t1234" />
    <add key="username-Allstateshipentry" value="Allstateshipentry@user.com" />
    <add key="password-Allstateshipentry" value="Te$t2345" />
    <add key="username-SalesManager" value="SalesManager" />
    <add key="password-SalesManager" value="Te$t1234" />
    <add key="username-shpInquiry" value="ShipInquiry" />
    <add key="password-shpInquiry" value="Welcome1" />
    <add key="username-shpentry" value="shpent" />
    <add key="password-shpentry" value="Te$t1234" />
    <add key="username-ShpInqnorts" value="ShpInqnorts" />
    <add key="password-ShpInqnorts" value="Te$t1234" />
    <add key="username-prakashdefault" value="prakashdefault" />
    <add key="password-prakashdefault" value="Passw0rd" />
    <add key="username-claimspecialist" value="claimspecialistroleuser" />
    <add key="password-claimspecialist" value="Te$t1234" />
    <add key="username-claimspecialistClaim" value="CharlieClaimspecialist" />
    <add key="password-claimspecialistClaim" value="Te$t1234" />
    <add key="username-ExtuserCustDropdown" value="testingtesting" />
    <add key="password-ExtuserCustDropdown" value="Te$t1234" />
    <add key="username-ExtuserCustDropdownWithCustomerBoth" value="UserwithCustomertmsboth" />
    <add key="password-ExtuserCustDropdownWithCustomerBoth" value="Te$t1234" />
    <add key="username-AccessRRDUser" value="AccessRRDUserTestEnv" />
    <add key="password-AccessRRDUser" value="Te$t1234" />
    <add key="username-UkShipEntryTest" value="uktestshipentry@rrd.com" />
    <add key="password-UkShipEntryTest" value="Te$t1234" />    
    <add key="username-ExternalCredithold" value="ExternalCredithold" />
    <add key="password-ExternalCredithold" value="Te$t1234" />
    <add key="username-CreditHoldShipEntry" value="CredituserTest" />
    <add key="password-CreditHoldShipEntry" value="Te$t2233" />
    <add key="username-CreditHoldInternalUser" value="CreditholdInternaluser" />
    <add key="password-CreditHoldInternalUser" value="Te$t2233" />
    
    <add key="username-CurrentSprintshpentry" value="CurrentsprintShpentry" />
    <add key="password-CurrentSprintshpentry" value="Te$t1234" />
    <add key="username-CurrentSprintOperations" value="CurrentsprintOperations" />
    <add key="password-CurrentSprintOperations" value="Te$t1234" />
    <add key="username-CurrentSprintconfigmanager" value="CurrentsprintConfigmanager" />
    <add key="password-CurrentSprintconfigmanager" value="Te$t1234" />
    <add key="username-CurrentSprintSales" value="CurrentsprintSales" />
    <add key="password-CurrentSprintSales" value="Te$t1234" />
    <add key="username-CurrentSprintSalesmanager" value="CurrentsprintSalesmanager" />
    <add key="password-CurrentSprintSalesmanager" value="Te$t1234" />
    <add key="username-CurrentSprintStationowner" value="CurrentsprintStationowner" />
    <add key="password-CurrentSprintStationowner" value="Te$t1234" />
    <add key="username-CurrentSprintInquiry" value="CurrentsprintInquiry" />
    <add key="password-CurrentSprintInquiry" value="Te$t1234" />

    <add key="username-CurrentsprintClaimspecialist" value="CurrentsprintClaimspecialist" />
    <add key="password-CurrentsprintClaimspecialist" value="Te$t1234" />
    
    <add key="username-CurrentSprintconfigmanager" value="CurrentsprintConfigmanager" />
    <add key="password-CurrentSprintconfigmanager" value="Te$t1234" />
    <add key="username-CurrentsprintShpentrynorates" value="CurrentsprintShpentrynorates" />
    <add key="password-CurrentsprintShpentrynorates" value="Te$t1234" />
    <add key="username-NoratesGscustomer" value="NoratesGscustomer" />
    <add key="password-NoratesGscustomer" value="Te$t1234" />
    <add key="username-CurrentsprintClaimspecialist" value="CurrentsprintClaimspecialist" />
    <add key="password-CurrentsprintClaimspecialist" value="Te$t1234" />

    <add key="username-CurrentsprintSystemconfiguration" value="CurrentsprintSystemconfiguration" />
    <add key="password-CurrentsprintSystemconfiguration" value="Te$t1234" />

    <add key="username-CurrentsprintPricingconfig" value="CurrentsprintPricingconfig" />
    <add key="password-CurrentsprintPricingconfig" value="Te$t1234" />
    
    <add key="username-Sales" value="MappingsalesUser" />
    <add key="password-Sales" value="Te$t1234" />
    
    <add key="username-ShipEntryShippingRef" value="shpentryzzzczar2@test.com" />
    <add key="password-ShipEntryShippingRef" value="Te$t1234" />
    
    <add key="username-SaleshippingRef" value="sales.testone@test.com" />
    <add key="password-SalesShippingRef" value="Te$t1234" />
    
    <add key="username-ShipEntryUser" value="shp.entry" />
    <add key="password-ShipEntryUser" value="Te$t1234" />
    
    <add key="username-uat.sales" value="uat.sales" />
    <add key="password-uat.sales" value="Te$t1234" />

    <add key="username-shpentryGSDemo" value="shpentryGSDemo@test.com" />
    <add key="password-shpentryGSDemo" value="Te$t1234" />

    <add key="username-InsAllRiskUser" value="crmuser" />
    <add key="password-InsAllRiskPwd" value="Te*t1234" />

    <add key="username-NinjaStationOwner" value="NinjastationOwner" />
    <add key="password-NinjaStationOwner" value="Te$t1234" />

    <!--ADD SHIPMENT LTL 2019 NEW SCREEN-->
    <add key="username-NewScreenShipEntryUser" value="NewpageShipentry" />
    <add key="password-NewScreenShipEntryUser" value="Te$t1234" />
    
    <add key="username-NewScreenSalesUser" value="NewpageSales" />
    <add key="password-NewScreenSalesUser" value="Te$t1234" />
    
    <add key="username-NewScreenCrmOperationUser" value="NewpageOperations" />
    <add key="password-NewScreenCrmOperationUser" value="Te$t1234" />
    
    <add key="username-NewScreenShipEntryUserNoSplInstruction" value="ShpentryCrm" />  <!--DONOT USE THIS USER IN ANY OTHER SCRIPTS-->
    <add key="password-NewScreenShipEntryUserNoSplInstruction" value="Te$t1234" />
    
    <add key="username-NewScreenShipEntryUserWithSplInstruction" value="CharlieEntry" />  <!--DONOT USE THIS USER IN ANY OTHER SCRIPTS-->
    <add key="password-NewScreenShipEntryUserWithSplInstruction" value="Te$t1234" />


    <add key="username-NewpageOperations" value="NewpageOperations" />
    <add key="password-NewpageOperations" value="Te$t1234" />
    <add key="username-NewpageShipEntry" value="NewpageShipEntry" />
    <add key="password-NewpageShipEntry" value="Te$t1234" />

    <add key="username-NewpageSales" value="NewpageSales" />
    <add key="password-NewpageSales" value="Te$t1234" />

    <!--EXTERNAL : SHIPMENT-ENTRY USERTYPE SETTINGS-->
    <add key="ExternalUserLogin" value="zzzext" />
    <add key="ExternalUserPassword" value="Te$t1234" />

    <!--INTERNAL : STATION-OWNER USERTYPE SETTINGS-->
    <add key="InternalUserLogin" value="stationown" />
    <add key="InternalUserPassword" value="Te*t1234" />
    
    <!--QA SETTINGS-->
    <add key="ProxyWebApiUrl" value="http://dlsworldwideproxy-test.rrd.com/services/api/v1/" />
    <add key="ProxyWebApiUrlVersion2" value="http://dlsworldwideproxy-test.rrd.com/services/api/v2/" />
    <add key="ProxyUserName" value="Admin" />
    <add key="ProxyApiKey" value="39375be6-5a41-0169-7992-608eeb8e4b4a" />
    <add key="QuantityUnitXml" value="\Helper\Xmls\QuantityUnits.xml" />
    <add key="MercuryGateTimeOut" value="70000" />
    <add key="CarrierInformationUrl" value="https://ccxl.smc3.com/CarrierConnectXL/services/soap" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.UnitTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.1.0.0" newVersion="10.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="Proxy" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=CRM.UITest.Entities.Proxy.Proxy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--DEV DB Connection String-->
    <!--<add name="WWProxyEntities" connectionString="metadata=res://*/Entities.Proxy.Proxy.csdl|res://*/Entities.Proxy.Proxy.ssdl|res://*/Entities.Proxy.Proxy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RRWIN-SQLT28.ECOMAD.INT;initial catalog=WWProxy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
    <!--DEV DB Connection String-->
    <!--QA DB Connection String-->
    <add name="WWProxyEntities" connectionString="metadata=res://*/Entities.Proxy.Proxy.csdl|res://*/Entities.Proxy.Proxy.ssdl|res://*/Entities.Proxy.Proxy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RRWIN-SQLS04.ECOMAD.INT;initial catalog=WWProxy;persist security info=True;user id= QAAutomationAccount;password= 8Cu5NLt3r!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DocRepositoryEntities" connectionString="metadata=res://*/Entities.DocRepo.DocRepo.csdl|res://*/Entities.DocRepo.DocRepo.ssdl|res://*/Entities.DocRepo.DocRepo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RRWIN-SQLT28.ECOMAD.INT;initial catalog=DocRepository;persist security info=True;user id= QAAutomationAccount;password=Password!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--QA DB Connection String-->
  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="ShipmentsSoap" closeTimeout="00:10:00" openTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
            </binding>
            <binding name="AirTrakShipmentSoap" closeTimeout="00:10:00" openTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
            </binding>
            <binding name="CarrierConnectXLHttpBinding">
                <security mode="Transport" />
            </binding>
            <binding name="CarrierConnectXLHttpBinding1" />
        </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://204.93.158.178/WTKServices/Shipments.asmx" binding="basicHttpBinding" bindingConfiguration="ShipmentsSoap" contract="CsaServiceReference.ShipmentsSoap" name="ShipmentsSoap" />
        <endpoint address="http://204.93.158.178/WTKServices/airtrakshipment.asmx" binding="basicHttpBinding" bindingConfiguration="AirTrakShipmentSoap" contract="CsaShipmentServiceReference.AirTrakShipmentSoap" name="AirTrakShipmentSoap" />
        <endpoint address="https://ccxl.smc3.com/CarrierConnectXL/services/soap" binding="basicHttpBinding" bindingConfiguration="CarrierConnectXLHttpBinding" contract="CarrierConnectXL_TerminalInfoAPI.CarrierConnectXLPortType" name="CarrierConnectXLHttpPort" />
    </client>
  </system.serviceModel>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="MsTest" /></specFlow></configuration>